<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <header class="border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <div class="fs-2 mb-3">
                    <img src="{% static 'how-to-choose-english-dictionary.png' %}" alt="Проект про языки" width="=100" height="70"/>
                    <span>Проект про языки</span>
                </div>
            </a>
        </header>
        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-5">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© MIPT, 2023</footer>
    </div>
</main>
</body>
</html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <h1>Добро пожаловать на сайт моего проекта, рад Вас видеть! Данный сайт можно использовать как словарь :)</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>

<!--  <!DOCTYPE html>-->
<!--  <html>-->
<!--    <head>-->
<!--      &lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
<!--      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--      &lt;!&ndash;Import materialize.css&ndash;&gt;-->
<!--      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>-->

<!--      &lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    </head>-->

<!--    <body>-->

<!--      &lt;!&ndash;JavaScript at end of body for optimized loading&ndash;&gt;-->
<!--      <script type="text/javascript" src="js/materialize.min.js"></script>-->
<!--    </body>-->
<!--  </html>-->